.formulario{
    background: #FFFFFF;
    width: auto;
}


.contacto-formulario {
    width: 90%;
    margin-top: 20px;
}

.contacto-formulario-label {
    margin-bottom: 10px;
    padding-left: 30px;
}

.entrada-formulario {

    width: 50%;
    display: block;
    background: #F2F5F7;

    padding: 20px 25px;
    margin: 10px 30px 40px;



    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    outline: 0;
    /*
    border: 1px solid #4DBA7A;*/

    border: 1px solid #9799A6;
    box-sizing: border-box;
    font-size: 16px;
}

.boton-enviar-formulario {
    /*
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4DBA7A;
    color: #FFF;
    cursor: pointer;*/

    width: 25%;
    border-radius: 8px;
    background-color: #ec6e5a;
    display: block;
    color: #FFF;
    border: none;
    height: 50px;
    font-size: 1em;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
}

