.titulo-presentacion{
    text-align: center;
    margin: 0 0 1em;
    clear: left;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    line-height: 61px;

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;


}

.imagen-persona{
    width: 400px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 200px;
}

.lista-redes li{
    display: inline-block;
    margin: 15px 0 0 15px;

    text-decoration: underline;

    box-sizing: border-box;
}

.parrafo-presentacion{
    font-size: 30px;
    margin: 150px 0 10px 0;
}

.imagen-red-social{
    width: 50px;
}

.sobre-mi{
    margin-top: 150px;
    padding-bottom: 10px;
}

.parrafo-descripcion{
    font-size: 25px;
    text-align: justify;
    margin: 10px;
}